<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>개발자 ChanChanCh 입니다</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/39b86c0db4.js" crossorigin="anonymous"></script>


</head>
<<body>
    {% include 'blog/navbar.html' %}

    <section>
        <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>안녕하세요. ChanArt입니다</h1>
                        <br/>
                        <p class="lead">
                            음악과 축구를 좋아합니다.<br/>
                             프로그래밍을 공부중입니다.
                        </p>
                        <li>WORK EXPERIENCE</li>
                        <ul>
                            <li>경력 블라블라 (2017.03~)</li>
                            <li>경력 블라블라블라 (2020.05~)</li>
                        </ul>
                        <li>EDUCATION</li>
                        <ul>
                            <li>석사,(뉴미디어음악)동의대학원(2019.03~2021.03)</li>
                            <li>대덕고등학교 졸업(2019.03~2021.03)</li>
                            <li>기억안남 이력서봐야됨(2019.03~2021.03)</li>
                            <li>대충 채워넣어(2019.03~2021.03)</li>
                        </ul>

                        <li>PUBLISH</li>
                        <ul>
                            <li>NiceKorea ProJ (2021)</li>
                            <li>DO IT DJANGO, 이지스퍼블리싱 (2022)</li>
                        </ul>
                        <li>Available programming languages & editor</li>
                        <ul>
                            <li>Java</li>
                            <li>JavaScripts</li>
                            <li>Python</li>
                            <li>--------------</li>
                            <li>Visual Studio Code</li>
                            <li>Eclipse</li>
                            <li>IntelliJ IDEA</li>

                        </ul>

                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid" src="{% static 'single_pages/images/chan2.png' %}">
                    </div>
                </div>
        </div>
    </section>
    <section class="bg-light margin-for-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#pycon2017">
                        <img class="card-img-top" src="{% static 'single_pages/images/bg.jpg' %}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">파이썬으로 통계업무 자동화하기 [PYCON2022]</h5>
                            <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                        <img class="card-img-top" src="{% static 'single_pages/images/lotto.jpg' %}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">chan이 만든 로또 생성프로그램</h5>
                            <p>돌려서 당첨되면 지분 50%</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#automation_python">
                        <img class="card-img-top" src="{% static 'single_pages/images/blog.jpg' %}" >
                        <div class="card-body">
                            <h5 class="card-title">개인 스터디 블로그</h5>
                            <p>프로그래밍 언어 / 알고리즘 / 제작과정 등 스터디한 내용들을 정리</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Modal -->
<div class="modal fade" id="pycon2017" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pycon2017ModalLabel">파이썬으로 통계업무 자동화하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/bg.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inflearn_django2" tabindex="-1" role="dialog" aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=" inflearnDjangoModalLabel">1~45숫자 랜덤으로 추출하는 프로그램</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/Newlotto.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>대박 당첨번호 받아가기!!</p>
                        <a href="https://js-projects-chanroot-1121.netlify.app/lotto/lotto.html" class="fas fa-chalkboard-teacher">로또 번호 생성</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="automation_python" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=" automationPythonModalLabel">Chan의 Programming Study 블로그</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/bg.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p> 프로그래밍의 기본 개념과 문법을 실습을 통해 배우고, 파일 입출력, 엑셀 데이터 처리, MS-word 문서 자동으로 만들기, 그래프 그리기, 웹스크래핑 등 다양하게 공부한것들을 정리</p>
                        <a href="https://blog.naver.com/chan18_"><i class="fas fa-chalkboard-teacher"></i>Chan 블로그 들어가보기</button></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</body>
</html>